[submodule "cookbooks/7-zip"]
	path = cookbooks/7-zip
	url = https://github.com/sneal/7-zip.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/chef-cookbooks/build-essential.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/chef-cookbooks/apt.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/burtlo/ark.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/chef-cookbooks/windows.git
